@using VT.Model;
@model ReportDataResponseModel
@{
	ViewData["Title"] = "Developer's numbers";
}

<div class="text-center">
	<h1 class="display-4">Developer numbers - @Model.From.ToShortDateString() - @Model.To.ToShortDateString()</h1>
	@foreach (var developerName in VT.Common.Constants.JiraData.DevelopmentTeam)
	{
		<div>
			@await Component.InvokeAsync("Developers", new DevelopersRequestModel(Model.TicketsData, developerName))
		</div>

		<div>
			@await Component.InvokeAsync("DevelopersDetails", new DevelopersDetailsRequestModel(Model.TicketsData, developerName, new DateTime(2020, 12, 16, 1, 30, 00), new DateTime(2020, 12, 23, 23, 59, 00)))
		</div>
	}
</div>